.datePicker {
  input {
    width: 98% !important;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
  }
}
.react-datepicker__input-container {
  display: flex !important;
}

.checkbox {
  min-width: 0px !important;
}
